# Secrets
.env

# Database
pb_data/
data/
build/pb_data/
build/data/
build/storage/
*.db
*.db-shm
*.db-wal

# Build artifacts
build/server.exe
build/*.exe

# Monitoring (All binaries and data)
build/monitoring/
monitoring/

# Logs
*.log
app.log

# IDE
.vscode/
.idea/

.genkit/
