# Secrets
.env

# Database
pb_data/

# Build artifacts
build/server.exe
build/*.exe

# Monitoring (All binaries and data)
build/monitoring/
monitoring/

# Logs
*.log
app.log

# IDE
.vscode/
.idea/

.genkit/
